* {
  font-family: inter, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
  --background-color: #e9eff6;
  --background-color-two: #ffffff; 
  --background-color-three: #e9eff6; 
  --primary-text-color: #1db19f;
  --secondary-text-color: #1f2128; 
}

[data-theme="dark"] {
  --background-color: #2d313e;
  --background-color-two: #1f2128;
  --background-color-three: #1f2128;
  --primary-text-color: #1db19f; 
  --secondary-text-color: #e9eff6;
}

body {
  background-color: var(--background-color);
}

