.header-container {
  height: 90px;

  display: flex;
  justify-content: space-between;
  padding-left: 147px;
  padding-right: 147px;
}

.leftSideHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 90px;
}

.rightSideHeader {
  display: flex;
  height: 90px;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
