.btn1 {
  width: 170px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-text-color);
  color: #e9eff6;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
