.whitebox {
  border: 2px solid var(--primary-text-color);
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  background: var(--background-color-two);
  width: 13.25rem;
  height: 19rem;
  flex-shrink: 0;
}

.greenbox {
  border-top-left-radius: 1.35rem;
  border-top-right-radius: 1.35rem;
  width: 13.1rem;
}
.cardcontent {
  margin-bottom: 2rem;
  border-radius: 2rem;
  background-color: var(--background-color-two);
}

.whitebox h2 {
  color: var(--primary-text-color);
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  background-color: var(--background-color-two);
  margin-top: 1.3rem;
}

.whitebox h3 {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--background-color-two);
}
.courcecard-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 1.5rem;
  position: relative;
}

.btns {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  position: absolute;

  top: 80%;
  left: 15%;
  background-color: var(--background-color-two);
}
.delete-btn {
  margin: 0.6rem 0;
}
.cc {
  border-radius: 1.5rem;
}
