.btn2 {
  width: 170px;
  height: 40px;
  border: 2px solid var(--primary-text-color);
  border-radius: 10px;
  background-color: transparent;
  color: var(--secondary-text-color);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
